.my-footer {
    height: 5em;
    background-color: dimgray;
    margin-top: 1.5em;
    padding: 1em 1em;
    color: white;
    font-size: 90%;
}

.room-image {
    max-width: 50%;
}

.datepicker {
    z-index: 10000;
}